.text-center{
    text-align: center;
    font-size: 45px;
}
body{
    background-color: blanchedalmond;
}

.mx-auto{
    margin: auto;
}
.bg-red{
    background: red;
}
div.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.button{
    padding: 19px;
    cursor: pointer;
    margin: 0 4Spx;
    border: 2px solid black;
    border-radius: 10px;
    width: 60px;
    font-size: 22px;
    background-color: cadetblue;
    
}
.items-center{
    align-items: center;
}
.row{
    margin: 5px 0px;
    
}
.row input{
    margin: 0;
    padding: 10px 28px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
}
